



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;

}

nav li a {
  display: block;
  color: #000;
  padding: 10px 26px;
  text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
  background-color: #555;
  color: white;
}
